# gitignore - https://git-scm.com/docs/gitignore

# 环境
.env
.env.*
!.env.example
!.env.*.example
.venv/

# 日志
*.log
*.log.*

# 缓存
.cache/
.moon/cache
.lycheecache
__pycache__/
.ruff_cache
.pytest_cache

# 生成
.moon/hooks
.coverage
